@model DetailCustomerViewModel

@{
    ViewData["Title"] = "Detail Customer";
    var color = Model.Status switch
    {
        "Active" => "bg-success",
        "ExpiringSoon" => "bg-warning",
        "Expired" => "bg-danger",
        _ => "bg-secondary"
    };
}

@if(Model.Client == null)
{
    <p>Este Cliente no Existe</p>
}
else
{
    <div>
        <p>Name : @Model.Client.Name</p>
        <p>Gender : @(Model.Client.Gender == true ? "Male" : Model.Client.Gender == false ? "Female" : "Not Specified")</p>
        <p>Subscription ends : @Model.Client.SubscriptionExpiresAt</p>
        <p>Active : @Model.Client.IsActive</p>
        <p>Created : @Model.Client.CreatedAt</p>
        <p>Created By: @Model.Client.NameUser</p>
        <p>Status :  <span class="status-dot @color"></span> @Model.Status</p>
    </div>

    <div>
        <form method="post" asp-action="IncreaseSubscription" asp-controller="DetailCustomer" onsubmit="return false;">
            <input type="hidden" name="customerId" value="@Model.Client.Id" />

            <select class="me-2" name="monthsToAdd">
                <option value="1">1 Month</option>
                <option value="2">2 Months</option>
                <option value="3">3 Months</option>
                <option value="12">1 Year</option>
            </select>

            <button id="submitBtn" class="btn btn-primary" type="submit">Increase Monthly Subscription</button>
        </form>
    </div>

    <div>
        <p>QR Code</p>

        <div id="qrcode"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <script>
            const guid = "@Model.Client.Id"; // pasamos el guid desde C# a JS

            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: guid,
                width: 128,
                height: 128,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });


        </script>
    </div>

    @await Html.PartialAsync("_ConfirmModal")

    @section Scripts { 
        <script>
            document.addEventListener('DOMContentLoaded',function(){
                const submitBtn = document.getElementById('submitBtn');
                const confirmBtn = document.getElementById('confirmBtn');
                const form = document.querySelector('form');
                submitBtn.addEventListener('click', function () {
                    // Mostrar el modal
                    var myModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                    myModal.show();
                });
                confirmBtn.addEventListener('click', function () {
                    // Enviar el formulario si confirman
                    form.submit();
                });
            })
        </script>
    }
}