@{
    ViewData["Title"] = "Expired People";
}

@model ExpiredPeopleViewModel

<div>
    <div class="row">
        <div class="col-6">
            <h1>Expired People</h1>
            <p>List of people whose subscriptions have expired.</p>
            <p>Click on the "Delete" button to remove a person from the list.</p>
            <p>Note: This action is irreversible.</p>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <form method="POST" asp-action="Index" asp-controller="ExpiredPeople">
                <select class="form-select mb-3" name="monthSelect" id="monthSelectId" onchange="this.form.submit()">
                    <option value="1" selected="@(Model.MonthSelect == 1)">1 Month ago</option>
                    <option value="2" selected="@(Model.MonthSelect == 2)">2 Months ago</option>
                    <option value="3" selected="@(Model.MonthSelect == 3)">3 Months ago</option>
                    <option value="6" selected="@(Model.MonthSelect == 6)">6 Months ago</option>
                </select>
            </form>
            <form asp-action="DeleteAllCustomers" asp-controller="ExpiredPeople" method="POST">
                <input type="hidden" name="selectedIds" value="@Model.SelectedIds" />
                <button type="submit" class="btn btn-danger">Delete All</button>
            </form>

        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Gender</th>
                <th class="text-center">Subscription End Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.ExpiredPeople)
            {
                <tr>
                    <td class="text-center">@person.Name</td>
                    <td class="text-center">@person.Gender</td>
                    <td class="text-center">@person.SubscriptionExpiresAt.ToShortDateString()</td>
                    <td class="text-center">
                        <form asp-action="DeleteCustomer" asp-controller="ExpiredPeople" method="post">
                            <input type="hidden" name="customerId" value="@person.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

</script>